html {
  height: 100%;
  background-repeat:no-repeat;
  background: linear-gradient(#367CD6,#183968);
}
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 650px;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  border-radius: 5px;
  background-color: #4A90E2;
}

fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding-left: 30px;
  padding-right: 30px;
}
.cityInput, p {
  width: 90%;
  font-weight:300;
  font-size: 25px;
  border:0px;
  border-bottom:1px solid grey;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background: transparent;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.cityInput:focus {
  border-bottom:1px solid #ddd;
}
form > * {
  display: inline-block;
}
.temperatureMax {
  display: block;
  font-size: 18px;
}
.temperatureMin {
  display: block;
  font-size: 14px;
}
.cloud1 {
  position: absolute;
  left: -25%;
  top: 25%;
}
.cloud2 {
  position: absolute;
  right: -13%;
  top: 22%;
}